@import'../../styles/mixin.scss';
.xc-list {
  position: relative;

  box-sizing: border-box;
  width: 100%;

  background: #fff;
  &--left-indent {
    padding-left: 20px;
  }
  &--right-indent {
    padding-left: 20px;
  }
}
