{
  "extends": ["taro","standard"],
  "plugins": [
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-unused-vars": "off",
    "no-console": "off",
    "lines-between-class-members": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/prefer-default-export": "warn"
  },
  "globals": {
    "tt": true,
    "swan": true,
    "alipay": true,
    "qq": true,
    "wx": true
  }
}
