.xc-mask {
  visibility: hidden;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 100%;

  background: rgba(0, 0, 0, 0);

  transition: all .25s;
  &--show {
    visibility: visible;

    background: rgba(0, 0, 0, .6);
  }
  &__interlayer {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    &--show {
      visibility: visible;

      opacity: 1;
    }
  }
}
