.xc-mask {
  &__floor {
    visibility: hidden;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;

    opacity: 0;
    background: #000;

    transition: all .25s;
    &--show {
      visibility: visible;

      opacity: .6;
    }
  }
  &__layer {
    visibility: hidden;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;

    opacity: 0;

    transition: all .25s;
    transform: translateZ(1px);
    &--show {
      visibility: visible;

      opacity: 1;
    }
  }
}
