$page-background-color: #f6f6f6;

// z-index
$mask__z-index: 1000;
$drawer__z-index: 500;

// border-radius
$border-radius-small: 2PX;
$border-radius-middle: 4PX;
$border-radius-big: 6PX;
$border-radius-bigger: 8PX;

// section
$section__margin-top: 20px;
$section__padding: 20px;
$section__border-radius: $border-radius-middle;
$section__background-color: #fff;

// section
$section-title__margin-bottom: 20px;
$section-title__font-size: 32px;
$section-title__font-weight: 400;

// mask
$mask__transition-duration: 0.2s;
$mask__opacity: 0.6;
