$page-background-color: #f6f6f6;

// border-radius
$border-radius-small: 4Px;
$border-radius-middle: 8Px;
$border-radius-big: 12Px;

// section
$section__margin-top: 20px;
$section__padding: 20px;
$section__border-radius: $border-radius-middle;
$section__background-color: #fff;

// section
$section-title__margin-bottom: 20px;
$section-title__font-size: 32px;
$section-title__font-weight: 400;
