@import "../../styles/var.scss";

.card {
  margin-top: 20PX;
  padding: 20PX 10PX 10PX;
  overflow: hidden;

  font-size: 14PX;

  background-color: #fff;
  border-radius: $border-radius-middle;
  &__title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 16PX;
  }
}
